/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif; */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #000;
    margin: 0;
    padding: 0;
}

div, p, input, span, button, form, a, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin: 0;
}

h1 {
    line-height: 1.5em;
}

p {
    line-height: 1.65em;
}

/* HEADER */

.header {
    background: rgba(78,190,254,1);
    background: -moz-linear-gradient(-45deg, rgba(78,190,254,1) 0%, rgba(55,143,217,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,190,254,1)), color-stop(100%, rgba(55,143,217,1)));
    background: -webkit-linear-gradient(-45deg, rgba(78,190,254,1) 0%, rgba(55,143,217,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(78,190,254,1) 0%, rgba(55,143,217,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(78,190,254,1) 0%, rgba(55,143,217,1) 100%);
    background: linear-gradient(135deg, rgba(78,190,254,1) 0%, rgba(55,143,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebefe', endColorstr='#378fd9', GradientType=1 );
    color: #fff;
}

.container {
    margin: 0 auto;
    width: 1171px;
    padding-top: 60px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 61px;
    padding-bottom: 142px;
}

.offer {
    padding-top: 145px;
}

.header-title {
    font-size: 36px;
    width: 560px;
}

.header-text {
    width: 405px;
    padding-bottom: 46px;
}

.span {
    font-size: 60px;
    line-height: 1.5em;
}

.btn {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-decoration: none;
    background: #ffd429;
    padding: 22px 28px;
    transition: all 0.5s linear;
}

.btn:hover {
    background: #fbff29;
}

/* SECTION WAIT */

.wait {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400; 
}

.wait-title {
    text-align: center;
    font-size: 30px;
    padding-top: 108px;
    padding-bottom: 62px;
}

.exp {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 125px;
}

.exp-icon {
    padding-bottom: 30px;
}

.exp-time {
   padding-right: 160px;
}

.exp-adventure {
    padding-right: 137px;
}

.exp-price {
    padding-right: 20px;
}

/* SECTION TICKET */

.ticket {
    background: #ecf3f8;
    text-align: center;
    padding-top: 106px;
    padding-bottom: 102px;
}

.ticket-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 56px;
    
}

.input {
    width: 340px;
    margin-bottom: 15px;
    border: 1px solid #bbb;
    color: #bbb;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 15px 0;
    padding-left: 24px;
}

.btn-ticket {
    width: 340px;
}

/* FOOTER */

.footer {
    background: #164d7a;
    color: #fff;
    text-align: center;
    padding-bottom: 60px;
}